.card-container {
    margin-top: 16px;
    display: flex;
    justify-content: center;
}

.card-table {
    margin-top: 16px;
    overflow-x: auto;
}

.container-search {
    flex-direction: column;
}

.container-button-right {
    flex-direction: column;
    width: 100%;
    text-align: right;
}

.container-button-center {
    padding: 15px;
}

.searchInput {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-position: 10px 13px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    background-image: url('/assets/searchicon.png');
}

.formInput {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    padding: 12px;
    margin: 5px;
}

input:required {
    border: 2px solid rgb(204, 51, 51);
}

input:required:valid {
    border-color: #ccc;
}

.btn {
    background-color: #6658f6;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:disabled,
button[disabled] {
    border: 1px solid #cfcdf6;
    background-color: #cfcdf6;
    color: white;
    cursor: default;
}

button:active:enabled {
    background-color: #7E57C2;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    text-align: center;
}

td,
th {
    padding: 8px;
    border: 2px solid #dddddd;
}

.td-center {
    text-align: center;
}

.icon-action {
    padding: 0px 15px 0px 15px;
    color: #6658f6;
    cursor: pointer;
}

.title-form {
    padding: 15px;
    text-align: center;
}

input[type=range]::-moz-range-track {
    height: 5px;
    cursor: pointer;
    background: #6658f6;
}

input[type=range]::-moz-range-thumb {
    background: #6658f6;
    cursor: pointer;
}

.label-form {
    width: 100px;
}

.imagePokemon{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 675px) {
    .form-align {
        width: 100%;
    }
}

@media only screen and (min-width: 675px) {
    .card-columns {
        display: flex;
    }
    .form-align {
        display: flex;
        align-items: center;
        width: 50%;
        padding: 10px;
    }
    .card-form {
        margin-top: 16px;
        border: 2px solid #dddddd;
        padding: 0px 5% 0px 5%;
    }
}